<!-- <div class="container">
  <span>{{ fullName() }}</span>

  <input type="text" name="abc" [value]="checkproperty" />
  <div [hidden]="isHidden">Check for property binding</div>

  <br />
  <br />

  <button [disabled]="isButton">Button 1</button>
  <br />
  <button bind-disabled="isButton">Button 2</button>

  <br />
  <br />

  <button class="btn btn-primary" (click)="myFun()">Event Binding</button>

  <br />
  <br />

  <button class="btn btn-primary" [class.active]="isActive">
    Class Binding
  </button>
  <button class="btn btn-primary" [class.active]="isActive2">
    Class Binding2
  </button>

  <br />
  <br />

  <button [class]="multiCssClasses">multiClass</button>

  <br />
  <br />

  <button
    class="btn btn-primary"
    [class.singleCssColorChange]="singleCssColorChange"
  >
    css color change
  </button>
  <button [style.color]="inlinecolor ? 'red' : 'green'">Inline Color</button>
  <input [(ngModel)]="email" (click)="getEmail()" />

  <div [ngClass]="multi">Chitkara University</div>
</div> -->
<div class="container">
  <h3>Simple Calculator</h3>
  <br />

  <app-calculator></app-calculator>
</div>
